{% load bootstrap_toolkit %}
{% load bolt_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
    <title>Bolt</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#abort").click(function(){
                window.location.href = "{% url 'input' %}";
                return false;
            });


        });

            $(window).on('onbeforeunload', function(){
                return "Plese use the exit link on the top right corner to leave";
            })
    </script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bolt</a>
          <!--<div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>--><!--/.nav-collapse -->
          <a href="{% url initial_view %}" class="brand" style="float:right; color:red;">Exit</a>
        </div>
      </div>
    </div>

    <div class="container">

    <div style="margin-left:auto; margin-right:auto; width:120px">
    <audio id="player" controls>
        {% if wav %}
        <!--<source id="audiosrc" src="http://vision.sista.arizona.edu/bolt/static/{{ wav }}" />-->
        <source id="audiosrc" src="{% static wav %}" />
        {% else %}
        <source id="audiosrc" />
        {% endif %}
    </audio>
    <!--<img src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/48/Phones-Speaker-icon.png" />-->
    </div>
    {% bootstrap_messages %}
    {% block content %}Empty page{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
