{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

    <h3>Here is what I understood:</h3>
    <br />
    <p class="text-center text-error" style="font-size:2em">
        {{ hyp }}
    </p>
    <br />
    <p class="lead"><small>I believe there is something wrong, though, please select the correct sentence from below or continue if necessary.</small></p>
    
    <select multiple="multiple">
        {% for item in nbest %}
            <option style="color:green">{{ item }}</option>
        {% endfor %}
    </select

{% endblock %}
