{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function(){
            
            $("#perfect").click(function(){
                $("#action").val("perfect");
            });

            $("#close-enough").click(function(){
                $("#action").val("close-enough");
            });

            $("#retype").click(function(){
                $("#action").val("retype");
            });

            $(".choices").change(function(){
                $("#perfect").removeAttr('disabled')
                $("#close-enough").removeAttr('disabled')
            });
        });
    </script>
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'selected' %}">
        <input type="hidden" name="action" id="action" />
        <input type="hidden" name="hyp" id="hyp" value="{{ hyp }}" />
     {% csrf_token %} 
    <!--<h3>Here is what I understood:</h3>-->
    <br />
    <p class="text-center text-error" style="font-size:1em">
        <!--{{ hyp }}-->
    </p>
    <br />
    <p class="lead text-center"><small>I believe there's something wrong though, please select the correct sentence from below or continue if necessary.</small></p>
    
    <div class="row">
        <div class="span8 offset2">
            <!--<select multiple="multiple" id="choices" name="choices" style="width:100%; min-heigth:4000px; font-size:1em">-->
                {% for item in nbest %}
                    <!--<option style="color:green; margin-bottom:5px">{{ item }}</option>-->
                    <input type="radio" style="color:green; margin-bottom:5px"  class="choices" name="choices" value="{{item}}"><span style="color:green; margin-left:1em">{{ item }}</span></input><br /><br />
                    {% endfor %}
                <!--</select>-->
        </div>
        
</div>
<br />
    <div class="row" style="text-align:center;">
        If the correct sentence is not similar to what's shown above, click <b>Retype</b>, otherwise select one of the following actions:
    </div>
    <br />
    <div class="row">
        
        <div class="span1 offset4" style="margin-right:1em;">
            <input type="submit"  id="retype" class="btn btn-large" value="Retype" />
        </div>
        <div class="span1" style="margin-right:1em;">
            <input type="submit" disabled="disabled" id="perfect" class="btn btn-large" value="Perfect" />
        </div>
        <div class="span1">
            <input type="submit" id="close-enough" disabled="disabled" class="btn btn-primary btn-large" value="Close enough" />
        </div>
    </div>
    </form>

{% endblock %}
