{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    
    <script type="text/javascript">
        var ids = [1, 2, 3, 4, 5];
        var refs = ["Ref 1", "Ref 2", "Ref 3", "Ref 4", "Ref 5"];
        var hyps = ["Hyp 1", "Hyp 2", "Hyp 3", "Hyp 4", "Hyp 5"];
        var ref_num = {{ ref_num }}
        var index = {{ index }}


        function setVals(num){
            num = index[num]
            $("#refid").val(num)
            url = '{% url 'read-sausage' 0 %}'
            url = url.replace('0', num);
            $.ajax(url).done(function(data){
                data = JSON.parse(data)
                $("#ref").val(data.ref)
                $("#hyp").text(data.hyp)
                $("#hyp-hidden").val(data.hyp)
                $("#hidder").css('display', 'block')
                $("#continue").removeAttr("disabled")
                $("#close-enough").removeAttr("disabled")
                $("#perfect").removeAttr("disabled")
            });
        }

        $(document).ready(function(){
            $("#refid").focusout(function(){
                num = $(this).val()
                setVals(num);       
            });
            $("#lucky").click(function(){
                //num = Math.floor((Math.random()*ref_num)+1);
                num = Math.floor((Math.random()*index.length)+1);
                setVals(num)
                return false;
            })


            $("#close-enough").click(function(){
                $("#input-action").val("close-enough");
            });

            $("#perfect").click(function(){
                $("#input-action").val("perfect");
            });
            
        });
    </script>

{% endblock %}

{% block content %}

    <h1>Input</h1>

    <br />
    <br />
    <form class="form-inline controls" id="form" method="post" action="{% url 'logistic-classification' %}">
     {% csrf_token %} 
    <div class="row">
        <div class="offset2">
            
                
                <label style="display:inline" for="refid">Ref #:&nbsp;<input style="display:inline" placeholder="0-{{ref_num}}" class="input-mini" id="refid" name="refid" type="text" maxlength="5" /></label>
                <div class="input-append">
                    <input id="ref" name="ref" type="text" class="input-xxlarge" disabled="disabled"></input>
                    <input type="hidden" name="hyp" id="hyp-hidden" />
                    <input name="action" id="input-action" type="hidden" value="classification" />
                    <button id="lucky" class="btn">I'm feeling lucky</buton>
                </div>


                <br />
                <br />
                
                
            
        </div>
        
    </div>
    <br />
    <div id="hidder" style="display:none">
    <p class="lead">Here is what I heard:</p>

    <p class="text-center text-info" style="font-size:1em" id="hyp">This is the hyp for the ref</p>
    <br />
    <br />
    </div>
    <div class="row">
        <div class="span1 offset4" style="margin-right:1em;">
            <button id="close-enough" disabled="disabled" class="btn btn-large">Close enough</button>
        </div>
        <div class="span1" style="margin-right:1em">
            <button id="perfect" disabled="disabled" class="btn btn-large">Perfect</button>
        </div>
        <div class="span1">
            <button disabled="disabled" id="continue" class="btn btn-primary btn-large">Continue</button>
        </div>
    </div>
    </form>
{% endblock %}
