{% extends "base.html" %}

{% load bootstrap_toolkit %}

    
{% block extra_head %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#id_sentence").keypress(function(){
            if($(this).val().length > 1){
                $("#submit").removeAttr("disabled");
            }
            else{
                $("#submit").attr("disabled", "disabled");
            }
        });
    });
    </script>
{% endblock %}

{% block content %}

    <br />
    <p class="lead text-center">Type in the text you hear in the clip:</p>
    <form method="post" >
    {% csrf_token %}
        <div style="text-align:center">
            <span style="display:inline">{{ form.sentence| as_bootstrap }}</span>

            <input type="submit" id="submit" disabled="disabled" value="Submit" class="btn" />
        </div>
    </form>

{% endblock %}
